secret_key_base: xxxxxx
github:
  access_token: xxxxxx
  webhook_secret: xxxxxx
puma:
  workers: 1
  threads: 4
  worker_timeout: 5

domain: xxxxxx
task_definition_maps:
  xxxxx: xxxxx

database:
  password: xxxxx

spot_fleet:
  iam_fleet_role_arn: xxxx
  spot_price: xxxx
  target_capacity: xxxx
  availability_zone: xxxx
  group_id: xxxx
  iam_instance_profile: xxxx
  image_id: xxxx
  instance_type: xxxx
  key_name: xxxx
  subnet_id: xxxx
  volume_size: xxx(GB)
  cluster_name: xxxx
